<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homeverse - Find your dream house</title>
  

  <!-- 
    - favicon
  -->
  <link rel = "stylesheet" href = "/static/assets/css/style.css"/>


  <link rel="shortcut icon" href="/static/favicon.svg" type="image/svg+xml">

 
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">
</head>

<body>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>

    <div class="overlay" data-overlay></div>

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li>
            <a href="mailto:info@homeverse.com" class="header-top-link">
              <ion-icon name="mail-outline"></ion-icon>

              <span>info@hostelinsider.com</span>
            </a>
          </li>

          <li>
            <a href="#" class="header-top-link">
              <ion-icon name="location-outline"></ion-icon>

              <address>15/A, North-West Delhi</address>
            </a>
          </li>

        </ul>

        <div class="wrapper">
          <ul class="header-top-social-list">

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="header-top-social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

          </ul>

          <a href = "{% url 'SignUp_Page' %}" class = "header-top-btn">Sign Up</a>
          <a href = "{% url 'Login_Page' %}" class = "header-top-btn">Login</a>

        </div>

      </div>
    </div>

    <div class="header-bottom">
      <div class="container">

        <a href="#" class="logo">
          <img src="/static/assets/images/logo.png" alt="Homeverse logo">
        </a>

        <nav class="navbar" data-navbar>

          <div class="navbar-top">

            <a href="#" class="logo">
              <img src="/static/assets/images/logo.png" alt="Homeverse logo">
            </a>

            <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
              <ion-icon name="close-outline"></ion-icon>
            </button>

          </div>

          <div class="navbar-bottom">
            <ul class="navbar-list">

              <li>
                <a href="#home" class="navbar-link" data-nav-link>Home</a>
              </li>

              <li>
                <a href="#about" class="navbar-link" data-nav-link>About</a>
              </li>

              <li>
                <a href="#service" class="navbar-link" data-nav-link>Service</a>
              </li>

              <li>
                <a href="#property" class="navbar-link" data-nav-link>Info.&.Prices</a>
              </li>

              <li>
                <a href="#blog" class="navbar-link" data-nav-link>Reviews</a>
              </li>

              <!-- <li>
                <a href="{% url 'Allotment' %}" class="navbar-link" data-nav-link>Allotment</a>
              </li> -->

              <li>
                <a href="#contact" class="navbar-link" data-nav-link>Contact Us</a>
              </li>

            </ul>
          </div>

        </nav>

        <div class="header-bottom-actions">

          <button class="header-bottom-actions-btn" aria-label="Profile">
            <ion-icon name="person-outline"></ion-icon>

            <span>Profile</span>
          </button>

          <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
            <ion-icon name="menu-outline"></ion-icon>

            <span>Menu</span>
          </button>

        </div>

      </div>
    </div>

  </header>





  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>Best In India</span>
            </p>

            <h2 class="h1 hero-title">DISCOVER MOST SUITABLE ROOM</h2>

            <p class="hero-text">
              Hostel_Insider offers comprehensive hostel facilities for boys and girls separately within the University Campus. 
            </p>

            <button class="btn">Make An Enquiry</button>

          </div>

          <figure class="hero-banner">
            <img src="/static/assets/images/hero-banner.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="/static/assets/images/college_pic.png" alt="House interior">

            <!-- <img src="/static/assets/images/about-banner-2.jpg" alt="House interior" class="abs-img"> -->
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">Best Hostel of INDIA since 2020.</h2>

            <p class="about-text">
              Home Away from Home for 15,000 Students in more than 20+ campus all over India & Global
              combined with
              specialist services.
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <p class="about-item-text">Smart Hostel Design</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <p class="about-item-text">Greenery Around</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="wine-outline"></ion-icon>
                </div>

                <p class="about-item-text">Good Lifestyle</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <p class="about-item-text">Complete 24/7 Security</p>
              </li>

            </ul>

            <p class="callout">
              "Caring wardens and a vigilant security ensures a pleasant stay allowing students to focus on academics."
            </p>

            <a href="#service" class="btn">Our Services</a>

          </div>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Facilities</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <!-- <div class="card-icon">
                  <img src="/static/assets/images/service-1.png" alt="Service icon">
                </div> -->

                <h3 class="h3 card-title">
                  <a href="#">Most popular facilities</a>
                </h3>

                <p class="card-text">
                  Free wifi
                </p>
                <p class="card-text">
                  Laundry
                </p>
                <p class="card-text">
                  Terrace
                </p>
                <p class="card-text">
                  24/5 hr front desk
                </p>


              </div>
            </li>

            <li>
              <div class="service-card">

                <!-- <div class="card-icon">
                  <img src="/static/assets/images/service-2.png" alt="Service icon">
                </div> -->

                <h3 class="h3 card-title">
                  <a href="#">Basic necessity</a>
                </h3>

                <p class="card-text">
                 Toilet paper
                </p>
                <p class="card-text">
                  Shower
                 </p>
                 <p class="card-text">
                  Almirah
                 </p>
                 <p class="card-text">
                  Room cleaning
                 </p>
      
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <h3 class="h3 card-title">
                  <a href="#">Safety & security</a>
                </h3>

                <p class="card-text">
                  Under CCTV surveillance 
                </p>
                <p class="card-text">
                  Face Recognition 
                </p>
                <p class="card-text">
                  24/7 security 
                </p>
                <p class="card-text">
                  Fire extinguisher
                </p>
              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #PROPERTY
      -->

      <section class="property" id="property">
        <div class="container">

          <p class="section-subtitle">Rooms</p>

          <h2 class="h2 section-title">Featured Listings</h2>

          <ul class="property-list has-scrollbar">

            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/static/assets/images/single_room.jpeg" alt="New Apartment Nice View" class="w-100">
                  </a>

                  <div class="banner-actions">

                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>85,000</strong>/Year
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Superior double room</a>
                  </h3>

                  <p class="card-text">
                    AC Room, two sleeps
                  </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>1</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>BHK</span>
                    </li>

                  </ul>

                </div>

            </li>

            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/static/assets/images/bunk-bed-in-mixed-dormitory.jpg" alt="Modern Apartments" class="w-100">
                  </a>

                  <div class="banner-actions">
          
                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>75,000</strong>/year
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Bed in mixed dormitory</a>
                  </h3>

                  <p class="card-text">
                    AC Room, Mixed dormitory, 3 sleeps
                    </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>3</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>BHK</span>
                    </li>

                  </ul>

                </div>
              </div>
            </li>
            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/static/assets/images/Montauk_House_Guest_Room_4_017-4c60c8725604417dbe1bb035bef6d4d0.jpeg" alt="New Apartment Nice View" class="w-100">
                  </a>

                  <div class="banner-actions">

                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>70,000</strong>/Year
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Bed in Female dormitory</a>
                  </h3>

                  <p class="card-text">
                    AC Room, 4 sleeps
                  </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>4</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>BHK</span>
                    </li>

                  </ul>

                </div>

            </li>
            <li>
              <div class="property-card">

                <figure class="card-banner">

                  <a href="#">
                    <img src="/static/assets/images/A8F3EF46-A498-1A37-ED6779D80C4FDCF8.jpeg" alt="New Apartment Nice View" class="w-100">
                  </a>

                  <div class="banner-actions">

                    <button class="banner-actions-btn">
                      <ion-icon name="camera"></ion-icon>

                      <span>4</span>
                    </button>

                    <button class="banner-actions-btn">
                      <ion-icon name="film"></ion-icon>

                      <span>2</span>
                    </button>

                  </div>

                </figure>

                <div class="card-content">

                  <div class="card-price">
                    <strong>70,000</strong>/Year
                  </div>

                  <h3 class="h3 card-title">
                    <a href="#">Bed in male dormitory</a>
                  </h3>

                  <p class="card-text">
                    AC Room, 4 sleeps
                  </p>

                  <ul class="card-list">

                    <li class="card-item">
                      <strong>4</strong>

                      <ion-icon name="bed-outline"></ion-icon>

                      <span>Bedrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="man-outline"></ion-icon>

                      <span>Bathrooms</span>
                    </li>

                    <li class="card-item">
                      <strong>2</strong>

                      <ion-icon name="square-outline"></ion-icon>

                      <span>BHK</span>
                    </li>

                  </ul>

                </div>

            </li>
          </ul>

        </div>
      </section>

      <!-- 
        - #FEATURES
      -->

      <section class="features">
        <div class="container">

          <p class="section-subtitle">Our Aminities</p>

          <h2 class="h2 section-title">Hostel Aminities</h2>

          <ul class="features-list">

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="car-sport-outline"></ion-icon>
                </div>

                <h3 class="card-title">Parking Space</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="water-outline"></ion-icon>
                </div>

                <h3 class="card-title">Swimming Pool</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <h3 class="card-title">Riots Free</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="fitness-outline"></ion-icon>
                </div>

                <h3 class="card-title">Medical Center</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="library-outline"></ion-icon>
                </div>

                <h3 class="card-title">Library Area</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="bed-outline"></ion-icon>
                </div>

                <h3 class="card-title">Comfortable Beds</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <h3 class="card-title">Ironing service</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

            <li>
              <a href="#" class="features-card">

                <div class="card-icon">
                  <ion-icon name="football-outline"></ion-icon>
                </div>

                <h3 class="card-title">Playground</h3>

                <div class="card-btn">
                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </div>

              </a>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->

      <section class="blog" id="blog">
        <div class="container">

          <p class="section-subtitle">Reviews</p>

          <h2 class="h2 section-title">Student Reviews</h2>

          <ul class="blog-list has-scrollbar">

            <li>
              <div class="blog-card">

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="person"></ion-icon>

                          <span>by: Abhishek raj</span>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="pricetags"></ion-icon>

                          <span>B.Tech CSE</span>
                        </a>
                      </li>

                    </ul>

                    <h3 class="h3 blog-title">
                      <a href="#">Hostel facilites is good there I live in 1-2 years in hostel food is good and many rules like u can't go on night Meal is good quantity is enough and quality is also good In admision time the process is held for hostel Don't know about pg there.</a>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    <div class="publish-date">
                      <ion-icon name="calendar"></ion-icon>

                      <time datetime="2022-27-04">feb 17, 2022</time>
                    </div>

                    <!-- <a href="#" class="read-more-btn">Read More</a> -->
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="person"></ion-icon>

                          <span>by: Sreehari</span>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="pricetags"></ion-icon>

                          <span>B.tech</span>
                        </a>
                      </li>

                    </ul>

                    <h3 class="h3 blog-title">
                      <a href="#">The hostel rooms are very good they provide an all facilities including electric connection, fan, bathroom, bed, chair study table etc. they provide us with a good quality meal including non-veg 3 days per week .registration process for a hostel is dine the admission time.</a>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    <div class="publish-date">
                      <ion-icon name="calendar"></ion-icon>

                      <time datetime="2022-27-04">Apr 2, 2020</time>
                    </div>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="blog-card">

                <div class="blog-content">

                  <div class="blog-content-top">

                    <ul class="card-meta-list">

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="person"></ion-icon>

                          <span>by: Neha Goyal</span>
                        </a>
                      </li>

                      <li>
                        <a href="#" class="card-meta-link">
                          <ion-icon name="pricetags"></ion-icon>

                          <span>B.Sc {Hons.}</span>
                        </a>
                      </li>

                    </ul>

                    <h3 class="h3 blog-title">
                      <a href="#">A room is like a 4BHK flat. When you enter your room there's a lobby where there is a sofa set. After that, you can see four small rooms. Each room has one cupboard one table one chair and an ac. There's one kitchen that has a fridge in that room. The washroom and bathroom are separate and shared by all 4.</a>
                    </h3>

                  </div>

                  <div class="blog-content-bottom">
                    <div class="publish-date">
                      <ion-icon name="calendar"></ion-icon>

                      <time datetime="2022-27-04">Apr 1, 2021</time>
                    </div>
                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream room like home?</h2>

              <p class="card-text">We can help you realize your dream of hostel life.</p>
            </div>

            <button class="btn cta-btn">
              <span>Sign up</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button>
          </div>

        </div>
      </section>

    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="/static/assets/images/logo-light.png" alt="Homeverse logo">
          </a>

          <p class="section-text">
            Hostel_Insider offers comprehensive hostel facilities for boys and girls separately within the University Campus..
          </p>

          <ul class="contact-list">

            <li>
              <a href="#" class="contact-link">
                <ion-icon name="location-outline"></ion-icon>

                <address>15/A, North-West Delhi</address>
              </a>
            </li>

            <li>
              <a href="tel:+0123456789" class="contact-link">
                <ion-icon name="call-outline"></ion-icon>

                <span>+91 9717665473</span>
              </a>
            </li>

            <li>
              <a href="mailto:contact@homeverse.com" class="contact-link">
                <ion-icon name="mail-outline"></ion-icon>

                <span>callmeonlyatnigt@gmail.com</span>
              </a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Company</p>
            </li>

            <li>
              <a href="#" class="footer-link">About</a>
            </li>

            <li>
              <a href="#" class="footer-link">Reviews</a>
            </li>

            <li>
              <a href="#" class="footer-link">info.&.prices</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Services</p>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Terms & Conditions</a>
            </li>


          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Customer Care</p>
            </li>

            <li>
              <a href="#" class="footer-link">Login</a>
            </li>

            <li>
              <a href="#" class="footer-link">My account</a>
            </li>

            <li>
              <a href="#" class="footer-link">Order tracking</a>
            </li>

            <li>
              <a href="#" class="footer-link">Contact us</a>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
      </div>
    </div>

  </footer>





  <!-- 
    - custom js link
  -->
  <script src="/static/assets/js/script.js"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script>
    setTimeout(function(){
    if ($('#msg').length > 0){
      $('#msg').remove();
    }
    },2000)
  </script>
</body>

</html>