<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/assets/css/style.css">

    <link rel="stylesheet" href="/static/style.css" />
    <!-- <link rel="stylesheet" href="/static/assets/css/style.css"> -->
    <title>Room Booking</title>
  </head>
  <body>
    <div class="movie-container">
      <label> Room Type:</label>
      <select id="movie">
        <option value="85000">Superior Double Room</option>
        <option value="75000">Bed in Mixed Dormitory Room</option>
        <option value="70000">Bed in Female Dormitory Room</option>
        <option value="70000">Bed in Male Dormitory Room</option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>N/A</small>
      </li>

      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>

      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>

    <div class="container">
      
      <div class="row">
       
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>
      <div class="row">
        
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
      </div>

      <div class="row">
        
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
      </div>

      <div class="row">
        
        <div class="seat"></div>
        <div class="seat"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat occupied"></div>
        <div class="seat"></div>
      </div>
    </div>

    <p class="text">
      You have selected <span id="count">0</span> bed for a price of <span id="total">0</span>
    </p>

    <a href = "{% url 'Payment' %}" class = "header-top-btn">Payment</a>
    <script src="/static/working.js"></script>
  </body>
</html>