<!DOCTYPE html>
<html>
<head>
	<title>Sign up form</title>
	<link rel="stylesheet" type="text/css" href="/static/signupfiles/sign_style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="/static/signupfiles/wave.png">
	<div class="container">
		<div class="img">
			<img src="/static/signupfiles/bg.svg">
		</div>
		<div class="login-content">
			<form action = "{% url 'SignUp_Page' %}" method = "post"> 
                {% csrf_token %}
				<img src="/static/signupfiles/avatar.svg">
				<h2 class="title">Sign up</h2>
				<div class="input-div one">
					<div class="i">
							<i class="fas fa-user"></i>
					</div>
					<div class="div">
							<input type="email" placeholder="Enter your email address"  name = "email" required>
					</div>
				 </div>

           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<input type="text"  placeholder = "Enter your name" name = "name" required>
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<input type="password" placeholder = "Enter password" name = "password" required>
            	   </div>
            	</div>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
</body>
</html>

